/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* oswald-500 - latin_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/oswald-v49-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v49-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* mean */

body * {
    display: inline-block;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(6, 13, 16);
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.btn {
    font-weight: 500;
    border-radius: 4px;
}

/* Header */

.header {
    padding: 33px 0;
    background: rgba(102, 209, 255);
    font-weight: 500;
}

.header-btn {
    width: 276px;
    height: 45px;
    font-size: 24px;
    line-height: 29px;
    background: rgba(255, 255, 255);
    border: 2px solid rgba(255, 255, 255);
}

.header-logo {
    text-decoration: none;
}

.header-phone {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}

/* Main-promo */

.promo {
    padding: 230px 0 240px;
    background: linear-gradient(0deg, rgba(6, 13, 16, 0.25), rgba(6, 13, 16, 0.25)), url(.jpg);
    color: rgba(255, 255, 255);
    text-shadow: 1px 1px 2px #060D10;
}

.promo-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
}

.promo-text {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

/* Main-features */

.features {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 170px 0;
    background-color: rgba(102, 209, 255, .1)
}

.features-title {
    margin-bottom: 100px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 48px;
    line-height: 80px;
}

.features-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.features-item {
    width: 30%;
    text-align: left;
}

.features-item h3 {
    margin: 25px 0 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 53px;
}

.features-item p {
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
}

/* Main-lead */

.lead {
    text-align: center;
    padding: 170px 0 180px;
    background: linear-gradient(208.35deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
}


.lead-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 80px;
    text-transform: uppercase;
}

.lead .btn {
    width: 505px;
    height: 86px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    background: rgba(255, 255, 255, 0);
}

/* Footer */

.footer {
    direction: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 35px 0;
    background-color: rgba(6, 13, 16);
    color: rgba(255, 255, 255);
}

.footer-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
}

.footer-copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}